{% extends 'main/header_and_footer.html' %}
{% load static %}
{% load main_extras %}
{% block title %} 
    {% if article.title %}
        {{ article.title }}
    {% endif %}
{% endblock %}
{% block description %} {% endblock %}
{% block head %} 
    <link href="{% static 'main/prism.css' %}" rel="stylesheet"/>
{% endblock %}
{% block main %}
<div class="container py-4">
    <div class="text-cnter">
        <h1 class="text-center">{{ article.title }}</h1>
    </div>
    <div class="row">
        <div class="col-lg-8 order-lg-first order-last">
            <div class="fs-5">
                <p>{{ article.content|render_markdown }}</p>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="position-sticky mt-4" style="top: 2rem">
                <!-- Yandex.RTB R-A-7239096-1 -->
                <div id="yandex_rtb_R-A-7239096-1"></div>
                <script>
                window.yaContextCb.push(()=>{
                	Ya.Context.AdvManager.render({
                		"blockId": "R-A-7239096-1",
                		"renderTo": "yandex_rtb_R-A-7239096-1"
                	})
                })
                </script>
            </div>
        </div>
    </div>
    <hr>
    {% if recommended_articles %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {% for recommended_article in recommended_articles %}
            <div class="p-1">
                <div class="card">
                    <div class="card-header"> 
                        <h1>{{ recommended_article.title }}</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ recommended_article.description }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <a href="{{ recommended_article.get_absolute_url }}" class="btn btn-primary" role="button">Читать</a>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="mb-0">{{ recommended_article.date_created }}</p>
                            </div>
                        </div>                                
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
<script src="{% static 'main/prism.js' %}"></script>
{% endblock %}